* {
	margin: 0;
	padding: 0;
	font-family: Helvetica, sans-serif, Verdana;
}

section.login-section {
	background-color: #333333;
	height: 100vh;
	width: 100%;
}
.login-section header {
	display: flex;
	justify-content: space-between;
	padding-left: 70px;
	padding-right: 70px;
	margin-bottom: 30px;
}

section.login-section h1 {
	width: 250px;
	height: 38px;
	color: #FFFFFF;
	text-align: center;
	padding: 20px;
}

section.login-section nav {
	width: 50%;
	height: 40px;
	background-color: #000000;
}
section.login-section ul {
	width: 100%;
	height: 100%;
	list-style: none;
	display: flex;
	justify-content: space-between;
}
section.login-section li {
	padding: 12px;
	padding-left: 35px;
	padding-right: 35px;
}
section.login-section li:hover {
	background-color: #FFFFFF;
	padding: 12px;
	padding-left: 35px;
	padding-right: 35px;
}
section.login-section a {
	color: #FFFFFF;
	text-decoration: none;
	height: 100%;
}
section.login-section a:hover {
	color: #000000;
}

section.login-section .hero-section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70%;
}
section.login-section form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
	height: 70%;
	width: 40%;
}
section.login-section .inputs {
	height: 40px;
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	width: 100%;
}
section.login-section form input {
	height: 100%;
	width: 49%;
	text-align: center;
	border: none;
	outline: none;
	color: #333333;
}
section.login-section .login-btn-div {
	display: flex;
	justify-content: center;
	height: 40px;
	width: 100%;
	margin-top: 20px;
}
section.login-section button {
	border: none;
	outline: 1px solid #FFFFFF;
	color: #FFFFFF;
	background-color: #333333;
	width: 50%;
	height: 100%;
}
section.login-section .btn-hover:hover {
	color: #333333;
	background-color: #FFFFFF;
	width: 50%;
	height: 100%;
}
section.login-section a#change-pass-btn {
	text-decoration: none;
	color: #FFFFFF;
	height: 40px;
	margin-top: 20px;
	text-align: center;
}


/*


user SECTION STYLING


*/

section.user-section {
	width: 100%;
	height: 100vh;
}
section.user-section .user-hero {
	height: 100%;
	height: 100%;
	background-color: #FAFAFA;
}
section.user-section header {
	width:100%;
	height:20%;
}
section.user-section header div {
	display: flex;
	justify-content: space-between;
	height: 50%;
}
section.user-section nav {
	background-color: #000000;
	height: 50%;
}
section.user-section ul {
	width: 100%;
	height: 100%;
	list-style: none;
	display: flex;
	justify-content: space-between;
}
section.user-section li {
	padding: 12px;
	padding-left: 35px;
	padding-right: 35px;
}
section.user-section li:hover {
	background-color: #FFFFFF;
	padding: 12px;
	padding-left: 35px;
	padding-right: 35px;
}
section.user-section a {
	color: #FFFFFF;
	text-decoration: none;
	height: 100%;
}
section.user-section a:hover {
	color: #000000;
}
section.user-section .summary-section {
	height: 80%;
	width: 100%;
	display: grid;
	grid-template: repeat(2,1fr) / repeat(4,1fr);
}
.summary-section div {
	background-color: #CCCCCCCC;
	margin: 10px;
}

/*
ADD USER SECTION
*/

#add-user {
	height: 80vh;
	display: flex;
	justify-content: space-between;
}

#add-user form {
	height: 50%;
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
#add-user form  div {
	width: 90%;
	height: 15%;
	border-radius: 5px;
	border: 1px solid #000000;
	padding: 2px;
	margin: 5px;
}
#add-user form input {
	height: 99%;
	width: 99%;
	text-align: center;
	border: none;
	outline: 1px solid #CCCCCCCC;
}
#add-user .radio {
	display: flex;
	align-items: center;
}
#add-user form button {
	height: 100%;
	width: 100%;
	text-align: center;
	border: none;
	outline: 1px solid #CCCCCCCC;
	font-size: 1.5rem;
	background-color: #333333;
	color: #FFFFFF;
	cursor: pointer;
}
#add-user form button:hover {
	background-color: #FFFFFF;
	color: #333333;
}
#add-user table {
	width: 65%;
}
#add-use tr{
	height: 50px;
}
td button {
	width: 50%;
	height: 100%;
}
/*

CREATE QUESTIONS

*/
section#create-questions {
	background-color: #FAFAFA;
	height: 100vh;
	width: 100%;
}
section#create-questions h1 {
	text-align: center;
}
section#create-questions .questions {
	display: flex;
	justify-content: space-between;
}
section#create-questions .ieq,.fq {
	height: 50vh;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 10px;
}
section#create-questions form {
	display: inherit;
	flex-direction: inherit;
	justify-content: inherit;
	height: 100%;
	width: 50%;
}
#create-questions form  div {
	width: 90%;
	height: 15%;
	border-radius: 5px;
	border: 1px solid #000000;
	padding: 2px;
	margin: 5px;
}
#create-questions form input {
	height: 99%;
	width: 99%;
	text-align: center;
	border: none;
	outline: 1px solid #CCCCCCCC;
}
.question-btns {
	display:flex;
	justify-content: space-between; 
}
#create-questions form button {
	height: 100%;
	text-align: center;
	border: none;
	outline: 1px solid #CCCCCCCC;
	font-size: 1.5rem;
	background-color: #333333;
	color: #FFFFFF;
	cursor: pointer;
}
.btn-more {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 10px;
}
#create-questions button:hover{
	background-color: #FFFFFF;
	color: #000000;
}
.question-submit-btn {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 10px;
}

#generate-exam {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	height: 100vh;

}
#generate-exam .exam-specs {
	width: 30%;
}
#generate-exam .inputs-div {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 70%;
	width: 100%;
}
#generate-exam .inputs-div input {
	height: 40px;
}
#generate-exam #preview {
	height: 40px;
	width: 100%;
}
.exam-preview {
	height: 100%;
	width: 60%;
	background-color: #FAFAFA;
	scroll-behavior: auto;
	overflow-y: scroll;
	padding: 20px;
}
.exam-paper {
	height: 90%;
	width: 80%;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCCCC;
	padding: 10px;
}
.exam-paper .bunner {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.exam-paper .bunner h1 {
	font-size: 2.5rem;
}
.exam-paper .bunner img {
	height: 5rem;
}
.exam-paper .title h2 {
	width: 80%;
	height: 20%;
	margin: 20px;
	text-align: center;
}
.exam-paper .degree-details, .exam-paper .course-details {
	/* width: 80%; */
	height: 20%;
	text-align: center;
}
.exam-paper .stream-duration, .exam-paper .day-date {
	display: flex;
	justify-content: space-between;
	padding-left: 30px;
	padding-right: 30px;
}
.exam-paper p {
	padding-left: 30px;
	margin-top: 5px;
}
.exam-paper .footer img {
	width: 100%;
	margin-top: 20px;
}

/* #generate-exam,#student-generate-exam {
	height: 100vh;
	width:100%;
	display: flex;
	justify-content: space-between;
}
#generate-exam,#student-generate-exam .exam-specs {
	display: inherit;
	flex-direction: column;
}
#generate-exam,#student-generate-exam form {
	display: inherit;
	flex-direction: inherit;
}
#generate-exam,#student-generate-exam form div {
	display: inherit;
	flex-direction: inherit;
	padding: 10px;
}
#generate-exam,#student-generate-exam form div input,select {
	height: 58px;
	width: 216px;
}
#generate-exam,#student-generate-exam form div button {
	height: 58px;
	text-align: center;
	border: none;
	outline: 1px solid #CCCCCCCC;
	font-size: 1.5rem;
	background-color: #333333;
	color: #FFFFFF;
	cursor: pointer;
	border-radius: 10px;
}
#generate-exam,#student-generate-exam form div button:hover {
	background-color: #FFFFFF;
	color: #333333;
} */


/*

STUDENT SECTION
*/
.student-div .summary-section {
	height: 80%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.student-div .summary-section div {
	width: 500px;
	height:500px;
}